---
title: Hello World!
---
<h1>{{ title }}</h1>
<p>{{ description }}</p>

<div class="twig-test">
  {{title|slugifythis}}
</div>

<h2 class="globalVar">{{ awesomeSauce }}</h2>

<dl>
  <dt>build_path</dt>
  <dd><pre>{{ build_path }}</pre></dd>
<dl>

Hello, {{person.name}}!

This is a class: <div class="{{person.name|slug}}">Class!</div>
